main {
  padding: 0;
}

.main-container {
  width: 100vw;
  height: calc(~"100vh - 50px");
  display: grid;
  grid-template-rows: 44px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header-left header-right"
    "content-left content-right";

  &.single-column {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header-left"
      "content-left";
  }
}

.header-left {
  grid-area: header-left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-weight: bold;
  color: #000000;

  .value-label span {
    color: #a7b0ba;
  }

  .timer {
    font-size: 2rem;
    font-weight: 600;
    color: #505962;
  }

  & > div > span {
    color: grey;
  }
}
.header-right {
  grid-area: header-right;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 17px;
  color: #505962;
  padding: 0 60px;
}

.content-left {
  grid-area: content-left;
  overflow: auto;
  background-color: #f5f5f5;

  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;

  color: #505962;

  .couples-card {
    width: 650px;
    background: #ffffff;
    border: 1px solid #c2cbd3;
    box-sizing: border-box;
    border-radius: 1rem;

    .couples {
      display: grid;
      grid-template-columns: 1fr 106px 1fr;
      padding: 30px 20px;
      height: 404px;

      .interests {
        align-self: flex-end;
      }
    }
  }
}

.content-right {
  grid-area: content-right;
  overflow: auto;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;

  .slider {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #7d8893;
    padding: 70px 0;

    .slider-component {
      flex: 0 0 500px;
      max-width: 500px;
      position: relative;

      &.slider-component-label {
        flex: 0 0 528px;
        max-width: 528px;
      }
      &.slider-component-text {
        flex: 0 0 576px;
        max-width: 576px;
      }
    }

    .slider-label {
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      position: relative;
      & > span {
        &:after {
          content: "";
          display: block;
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
          background-image: url(/label-pipe.svg);
          width: 2px;
          height: 6px;
        }
      }
    }

    .slider-percentage-row {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .slider-percentage-label {
        color: #000000;
        padding: 0 0 5px;
      }
    }
    .slider-text-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-left: -6.5px;

      .slider-text-label {
        color: #7d8893;
        width: 77px;

        &:nth-child(4) {
          & > span {
            &:after {
              right: -5px;
            }
          }
        }
        &:nth-child(5) {
          & > span {
            &:after {
              right: -11px;
            }
          }
        }
        & > span {
          display: block;
          &:after {
            top: -40%;
          }
        }
      }
    }

    .bp3-slider {
      height: 25px;

      .bp3-slider-track {
        left: -6.75px;
      }

      .bp3-slider-label {
        // text-align: center;
        // width: 100px;
        // color: #7d8893;
        display: none;
      }

      .bp3-slider-handle {
        background-image: url(/slide-bar.svg);
        width: 14px;
        height: 27px;
        box-shadow: unset;
        top: -5px;
        z-index: 10;

        & > .bp3-slider-label {
          width: auto;
          display: block;
          top: 10px;
          opacity: 0;
          transition: opacity 300ms;
        }

        &.bp3-active {
          & > .bp3-slider-label {
            opacity: 1;
          }
        }
      }
      &.no-handle {
        .bp3-slider-handle {
          display: none;
        }
      }
    }
  }

  .description {
    width: 600px;
    margin-bottom: 5rem;
    h2 {
      color: #505962;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 20px;
    }

    p {
      font-weight: normal;
      font-size: 17px;
      line-height: 20px;
      color: #677380;
    }
  }

  .graph {
    width: 600px;
    position: relative;
    max-width: 800px;
    display: flex;

    .bar-text-content {
      width: 30%;
      height: 100%;

      .text {
        height: 20px;
        display: flex;
        justify-content: flex-end;
        margin-right: 25px;
        margin-bottom: 10px;
        align-items: center;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: #677380;
      }
    }

    .bar-lines-container {
      width: 70%;
      height: 100%;

      .bar {
        position: relative;
        width: 20%;
        height: 20px;
        margin-bottom: 10px;
        background-color: #007013;
        z-index: 99;
        border-bottom: 1px solid #222;
        border-right: 1px solid #222;
      }

      .line {
        position: absolute;
        top: 0;
        z-index: 9;
        bottom: 10px;
        width: 2px;
        background: #eff0f3;
      }

      .line-label {
        position: absolute;
        z-index: 9;

        font-size: 12px;
        line-height: 14px;
        color: #7d8893;
      }

      .top-label {
        position: absolute;
        z-index: 9;
        top: -30px;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #007013;
      }

      .bottom-label {
        position: absolute;
        z-index: 9;
        bottom: -40px;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #b91913;
      }
    }
  }

  .bars-prediction {
    width: 600px;

    .relative-bar-container {
      margin-bottom: 0.6rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .bar {
        height: 20px;
        background-color: rgba(255, 188, 88, 0.5);
        margin-right: 0.9rem;

        &.man {
          background-color: #b6bdfd;
        }
      }

      .label {
        width: 50%;
        font-size: 1.2rem;
        line-height: 1.4rem;
        color: #677380;
      }
    }

    .graph-bars-container {
      // .labels {}
      // .bars {

      // }
    }
  }
}

// .round {
//   display: flex;
//   flex-direction: column;
//   height: 100%;

//   .content {
//     flex-grow: 1;
//     height: 100%;
//     display: flex;
//     align-items: flex-start;
//   }

//   .player-profile {
//     display: flex;
//     flex-direction: column;
//     width: 24rem;
//     min-height: 100%;
//     align-items: center;
//     padding: 3rem 4rem;

//     .profile-avatar {
//       width: 8rem;
//       height: 8rem;
//       margin: 3rem 0;
//     }

//     .profile-score {
//       text-align: center;
//       span {
//         font-size: 3rem;
//         font-weight: bold;
//       }
//     }

//     .profile-rounds {
//       text-align: center;

//       span {
//         font-size: 3rem;
//       }
//     }
//   }

//   .task {
//     width: 75rem;
//     align-content: flex-end;
//     padding: 4rem 4rem 0 4rem;

//     .task-response {
//       margin: 3rem 0 0;

//       .bp3-slider-label {
//         white-space: pre-wrap;
//       }

//       .empirica-slider {
//         padding-top: 2rem;
//         margin-bottom: 5rem;
//       }

//       form {
//         width: 40rem;
//         margin: 0 auto;
//         text-align: center;

//         button[type="submit"] {
//           margin: 2rem auto;
//           text-align: center;
//         }
//       }

//       .response-submitted {
//         background-color: #e8e8e8;
//         padding: 2rem;
//         border-radius: 0.4rem;

//         h5 {
//           margin: 0 0 0.5rem;
//           font-size: inherit;
//         }
//       }
//     }

//     .task-table {
//       margin: 3rem 0 3rem;

//       table,
//       tr {
//         border-collapse: collapse;
//         border: 1px solid black;
//       }

//       th,
//       td {
//         border-right: 1px solid black;
//         border-left: 1px solid black;
//         padding: 0.5rem 1rem;
//         width: 25%;
//       }

//       th {
//         text-align: center;
//       }

//       td {
//         text-align: center;
//       }

//       .table-heading {
//         background-color: black;
//         color: white;

//         th {
//           text-align: center;
//         }
//       }

//       .color-female {
//         background-color: pink;
//       }

//       .color-male {
//         background-color: lightblue;
//       }
//     }
//   }

//   .task-feedback {
//     margin: 3rem;
//   }

//   .social-exposure {
//     margin: 4rem;

//     .alter {
//       display: flex;
//       padding-right: 3rem;

//       img {
//         width: 6rem;
//         height: 6rem;
//         margin: 3rem;
//       }

//       .range {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         .empirica-slider {
//           width: 40rem;
//         }
//       }
//     }

//     .explanation {
//       margin-top: 3rem;

//       img {
//         width: 60rem;
//       }
//     }
//   }
// }

// button {
//   padding: 0.8rem 1.2rem;
//   border-radius: 0.3rem;
//   border: 1px solid lightgray;
//   background-color: #eee;

//   &:hover {
//     background-color: #ddd;
//   }
// }

// .instructions {
//   button {
//     width: 15rem;
//     padding-right: 2rem;
//     margin-right: 100px;
//   }
//   .button-group {
//     margin-top: 20px;
//     margin-bottom: 20px;
//   }
//   .call-out {
//     width: 60%;
//     margin-top: 20px;
//     margin-bottom: 20px;
//   }
//   p {
//     font-size: 1.8rem;
//     line-height: 1.5;
//     margin-bottom: 1em;
//   }
//   image {
//     height: 10rem;
//     width: 5rem;
//     object-fit: contain;
//   }
//   .sample-img {
//     height: 50rem;
//     display: block;
//     margin: 0 auto;
//   }
//   .interpretation-image {
//     height: 40rem;
//     display: block;
//     margin: 0 auto;
//   }
//   .small-sample-img {
//     height: 12rem;
//     display: block;
//     margin: 0rem auto;
//   }
// }

// .instructions-text {
//   p {
//     font-size: 1.8rem;
//     line-height: 1.5;
//     margin-bottom: 1em;
//   }
// }

// .quiz,
// .exit-survey {
//   button {
//     margin: 2rem 1rem 0 0;
//   }

//   label {
//     display: block;
//     margin: 2rem 0 1rem;
//   }

//   input[type="text"],
//   input[type="number"] {
//     padding: 0.3rem 0.5rem;
//     border-radius: 0.3rem;
//     border: 1px solid lightgray;
//   }

//   input[type="radio"] {
//     margin-right: 0.5rem;
//   }

//   textarea {
//     padding: 0.3rem 0.5rem;
//     border-radius: 0.3rem;
//     border: 1px solid lightgray;
//   }
// }

// .exit-survey {
//   em {
//     color: blue;
//   }
//   .bold {
//     font-weight: bold;
//   }

//   .bp3-label {
//     font-weight: bold;
//   }

//   .form-line {
//     margin-top: 2em;
//     display: flex;

//     .form-group {
//       margin-right: 30px;

//       textarea {
//         min-height: 90px;
//       }
//     }

//     &.thirds {
//       .pt-form-group {
//         flex-grow: 0;
//         flex-shrink: 0;
//         flex-basis: 30%;

//         .pt-label {
//           min-height: 36px;
//         }
//       }
//     }
//   }
// }

// .finished {
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// //importing the Orbitron font which makes it look like a digital clock
// @import url(https://fonts.googleapis.com/css?family=Orbitron);
// .timer {
//   margin-top: 2rem;
//   text-align: center;

//   .seconds {
//     font-size: 3rem;
//     font-family: Orbitron, sans-serif;
//     color: green;
//   }
//   &.lessThan10 {
//     .seconds {
//       color: orange;
//     }
//   }
//   &.lessThan5 {
//     .seconds {
//       color: red;
//     }
//   }
// }

// .round-nav {
//   padding: 1rem 0;

//   .bp3-breadcrumb.bp3-breadcrumb-current {
//     padding: 0.2rem 2rem;
//     // padding: 0rem 2rem;
//     border-radius: 3px;
//     // background-color: rgba(167, 182, 194, 0.3);
//     background-color: #106ba3;
//     color: white;
//     -webkit-font-smoothing: antialiased;
//   }
// }
